<div fxFill class="container">

  <div fxLayoutGap="1%" fxLayout="row" style="padding: 20px" fxLayoutAlign="end">
      <div>
        <button mat-fab color="accent" routerLink="/home">
          <mat-icon>arrow_back</mat-icon>
        </button>
      </div>
      <div>
        <button mat-fab color="primary" routerLink="">
          <mat-icon>home</mat-icon>
        </button>
      </div>  
  </div>

  <div class="main-card" fxLayout="row wrap" fxLayoutAlign="center center" style="padding: 20px" fxLayoutWrap
    fxLayoutGap="5%">

    <div fxFlex="30%">
      <mat-card>
        <mat-card-title fxLayoutAlign="center ">
          <h4>Login</h4>
        </mat-card-title>

        <mat-card-content>
          <form class="example-form">
            <mat-form-field class="example-full-width">
              <input matInput [(ngModel)]="signInEmail" name="signInEmail" type="text" placeholder="email">
            </mat-form-field>
            <mat-form-field class="example-full-width">
              <input matInput [(ngModel)]="signInPassword" name="signInPassword" type="password" placeholder="password">
            </mat-form-field>

            <!-->mat-form-field class="example-full-width">
              <textarea matInput placeholder="Leave a comment"></textarea>
            </!-->
          </form>
        </mat-card-content>
        <mat-card-actions fxLayoutAlign="end">
          <button (click)="signIn()" mat-raised-button color="primary">LOGIN</button>
          <!--button (click)="testRoute()" mat-raised-button color="primary">TEST</!--button>
          <button (click)="logout()" mat-raised-button color="primary">LOGOUT</button>
          <button (click)="toggleSignup()" mat-raised-button color="primary">DAFTAR</button-->
        </mat-card-actions>
      </mat-card>
    </div>

  </div>
</div>
