<div class="dialogTitle" mat-dialog-title cdkDrag cdkDragRootElement=".cdk-overlay-pane">
  <span style="width: 100%;" cdkDragHandle>
    Cek Intensitas Ruang
  </span>

  <button matTooltip="tutup" mat-icon-button [mat-dialog-close]='true'>
    <mat-icon>close</mat-icon>
  </button>
</div>

<mat-dialog-content>
  <mat-card>
    <mat-card-content>
      <section class="example-section">
        <mat-form-field class="example-margin">
          <input matInput type="number" placeholder="Luas Tanah" [(ngModel)]="rencanaPemanfaatan.luasTanah">
        </mat-form-field>
        <mat-form-field class="example-margin">
          <input matInput type="number" placeholder="Luas Bangunan" [(ngModel)]="rencanaPemanfaatan.luasBangunan">
        </mat-form-field>
      </section>
      <p> Tinggi Bangunan (m<sup>2</sup>)</p>
      <section class="example-section">
        <mat-slider class="example-margin" [max]="300" [min]="0" [step]="1"
          [thumbLabel]="rencanaPemanfaatan.tinggiBangunan" [(ngModel)]="rencanaPemanfaatan.tinggiBangunan"></mat-slider>
        <input style="max-width:50px" class="example-margin" matInput disabled
          [(ngModel)]="rencanaPemanfaatan.tinggiBangunan">
      </section>

      <p> Jumlah Lantai </p>
      <section class="example-section">
        <mat-slider class="example-margin" [(ngModel)]="rencanaPemanfaatan.jmlLantai" [max]="40" [min]="1" [step]="1"
          [thumbLabel]="rencanaPemanfaatan.jmlLantai">
        </mat-slider>
        <input style="max-width:50px" class="example-margin" matInput disabled
          [(ngModel)]="rencanaPemanfaatan.jmlLantai">
      </section>
    </mat-card-content>
    <button mat-raised-button (click)="cekIzinPemanfaatan(rencanaPemanfaatan)" color="primary">Cek Izin
      Pemanfaatan</button>

  </mat-card>
  <mat-card *ngIf="showRencana" class="result">
    <h3 class="example-h2">Ketentuan Pemanfaatan Ruang</h3>
    <section class="example-section">
        <p class="example-margin"> <i> {{ketentuanPemanfaatan.Keterangan}}  m<sup>2</sup></i> </p>
      </section>
    <section class="example-section">
      <p class="example-margin"><strong> KDB: </strong></p>
      <p class="example-margin"> <i> {{ketentuanPemanfaatan.KDB}}  </i> </p>
    </section>
    <section class="example-section">
      <p class="example-margin"> <strong> KLB: </strong></p>
      <p class="example-margin"> <i>  {{ketentuanPemanfaatan.KLB}}  </i> </p>
    </section>
    <section class="example-section">
      <p class="example-margin"> <strong> KDH:  </strong></p>
      <p class="example-margin"> <i>  {{ketentuanPemanfaatan.KDH}}  m<sup>2</sup>  </i></p>
    </section>
    <section class="example-section">
      <p class="example-margin"> <strong> Tinggi:  </strong></p>
      <p class="example-margin"> <i>  {{ketentuanPemanfaatan.Tinggi}}  </i> </p>
    </section>
  </mat-card>

</mat-dialog-content>
