<div class="dialogTitle" mat-dialog-title cdkDrag cdkDragRootElement=".cdk-overlay-pane">
  <span style="width: 100%;" cdkDragHandle>
    Cek Intensitas Ruang
  </span>

  <button matTooltip="tutup" mat-icon-button [mat-dialog-close]='true'>
    <mat-icon>close</mat-icon>
  </button>
</div>

<mat-dialog-content>
  <div fxFill class="container">
    <div fxLayout="row wrap" fxLayoutAlign="center center" fxLayoutWrap fxLayoutGap="10%">

      <div fxFlex>

        <h3 class="example-h2">Rencana Pemanfaatan Ruang</h3>

        <section class="example-section">
          <mat-form-field class="example-margin">
            <input matInput type="number" placeholder="Luas Tanah" [(ngModel)]="rencanaPemanfaatan.luasTanah">
          </mat-form-field>
          <mat-form-field class="example-margin">
            <input matInput type="number" placeholder="Luas Bangunan" [(ngModel)]="rencanaPemanfaatan.luasBangunan">
          </mat-form-field>
        </section>
        <section class="example-section">
          <mat-form-field class="example-margin">
            <mat-slider [(ngModel)]="rencanaPemanfaatan.tinggiBangunan"></mat-slider>

          </mat-form-field>

          <mat-slider [(ngModel)]="rencanaPemanfaatan.jmlLantai" class="example-margin" [max]="40" [min]="1" [step]="1"
            [thumbLabel]="rencanaPemanfaatan.jmlLantai">
          </mat-slider>

        </section>




      </div>
      <div *ngIf="showRencana" fxFlex>
        <h3 class="example-h2">Ketentuan Pemanfaatan Ruang</h3>

        <section class="example-section">
          <p>hasil KDB KRB KLB</p>
        </section>

      </div>
    </div>
  </div>
</mat-dialog-content>
