<div class="dialogTitle" mat-dialog-title cdkDrag cdkDragRootElement=".cdk-overlay-pane">
  <span style="width: 100%;" cdkDragHandle>
    Cek Perizinan
  </span>

  <button matTooltip="tutup" mat-icon-button [mat-dialog-close]='true'>
    <mat-icon>close</mat-icon>
  </button>
</div>


<mat-dialog-content>
  <div fxFill class="container">
      <div fxLayout="row wrap" fxLayoutAlign="center center" fxLayoutWrap fxLayoutGap="10%">

      <div fxFlex="50%">
          <p> Pola Ruang: {{rdtr.pola_ruang}}</p>
          <p> Luas Bidang Tanah: {{luas}} (m2)</p>
          <form class="example-form">
            <mat-form-field class="example-full-width">
              <input type="text" placeholder="Ketik atau pilih jenis kegiatan" aria-label="Number" matInput
                [formControl]='myControl' [matAutocomplete]="auto" [(ngModel)]="kegiatan">
              <mat-autocomplete #auto="matAutocomplete">
                <mat-option (change)="onChange($event)" *ngFor="let option of filteredOptions | async" [value]="option">
                  {{option}}
                </mat-option>
              </mat-autocomplete>
            </mat-form-field>
          </form>
      </div>
      <div fxFlex="40%">
          <mat-card [ngStyle]="{'backgroundColor': styleKesimpulan.color }">
            <mat-icon style="text-align: center" class="icon-display">{{styleKesimpulan.icon}}</mat-icon>
            <p style="text-align: right">{{kesimpulan}}</p>
          </mat-card>
      </div>

    </div>
  </div>

  

</mat-dialog-content>
<mat-dialog-actions fxLayoutAlign="end">
  <button mat-raised-button (click)="resetPencarian()" >Reset Pencarian</button>
  <button mat-raised-button (click)="cekPerizinan(kegiatan)" color="primary">Cek Izin</button>
  <!-- The mat-dialog-close directive optionally accepts a value as a result for the dialog.-->
  <!--button-- mat-raised-button [mat-dialog-close]='true'>Tutup</!--button-->
</mat-dialog-actions>
