<div style="text-align:center">
  <h1>
    Sistem Informasi Tata Ruang dan Pertanahan
    <br>
    Kota Yogyakarta
  </h1>
  <img width="100" alt="Angular Logo" src="/assets/images/logo.png ">

</div>

  <div class="container main-card" fxLayout="row" fxLayout.xs="column" fxLayoutWrap fxLayoutGap="5%" fxLayoutAlign="center">
    <div fxFlex="30%">
      <mat-card class="example-card">
        <mat-card-header>
          <mat-card-title>Sitaru</mat-card-title>
          <mat-card-subtitle>Sistem Informasi Tata Ruang</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
          <p>
            Sistem Informasi Tata Ruang menyajikan informasi mengenai tata ruang di 
            wilayah Kota Yogyakarta
          </p>
        </mat-card-content>
        <mat-card-actions fxLayoutAlign="center">
          <a mat-raised-button routerLink="home" color="primary">Sitaru</a>
        </mat-card-actions>
      </mat-card>
    </div>
    <div fxFlex="30%">
        <mat-card class="example-card">
          <mat-card-header>
            <mat-card-title>Siperta</mat-card-title>
            <mat-card-subtitle>Sistem Informasi Pertanahan</mat-card-subtitle>
          </mat-card-header>
          <mat-card-content>
            <p>
              Sistem informasi pertanahan memuat data dan informasi terkait bidang tanah dan aset 
              Pemerintah Kota Yogyakarta
              
            </p>
          </mat-card-content>
          <mat-card-actions fxLayoutAlign="center">
            <a mat-raised-button routerLink="siperta" color="accent">Siperta</a>
  
          </mat-card-actions>
        </mat-card>
      </div>
    <!-->div fxFlex="20%">

      <a mat-raised-button routerLink="siperta" color="accent">Siperta</a>
    </!-->


  </div>

