<div id="map" class="map sidebar-map"></div>

<div id="sidebar" class="sidebar collapsed">
  <!-- Nav tabs -->
  <div class="sidebar-tabs">
    <ul role="tablist">
      <li><a matTooltip="Layer Peta" href="#home" role="tab"><i class="fa fa-map"></i></a></li>
      <li><a matTooltip="Legenda" href="#profile" role="tab"><i class="fa fa-image"></i></a></li>
      <li><a matTooltip="Hapus seleksi" (click)="clearSelected()" target="_blank"><i class="fa fa-eraser"></i></a></li>
      <li><a matTooltip="Bookmark" href="#bookmark" role="tab"><i class="fa fa-bookmark"></i></a>
      </li>
    </ul>

    <ul role="tablist">
      <li *ngIf="isLoggedIn"><a href="#settings" role="tab"><i class="fa fa-gear"></i></a></li>
    </ul>
  </div>

  <!-- Tab panes -->
  <div class="sidebar-content">
    <div class="sidebar-pane" id="home">
      <h1 class="sidebar-header">
        Daftar Layer
        <span class="sidebar-close"><i class="fa fa-caret-right"></i></span>
      </h1>
      <!-- THE layer switcher https://viglino.github.io/ol-ext/examples/control/map.switcher.html -->
      <div #switcher id="layers" class="layer-switcher">
          <div></div>
      </div>

    <div class="sidebar-pane" id="profile">
      <h1 class="sidebar-header">Profile<span class="sidebar-close"><i class="fa fa-caret-left"></i></span></h1>
    </div>

    <div class="sidebar-pane" id="settings">
      <h1 class="sidebar-header">Settings<span class="sidebar-close"><i class="fa fa-caret-left"></i></span></h1>
    </div>
  </div>
</div>



<div #popup id="popup" class="ol-popup">
  <a #popupcloser href="#" id="popup-closer" class="ol-popup-closer"></a>
  <div #popupcontent id="popup-content"></div>
</div>