<div id="map" class="map sidebar-map"></div>

<div id="sidebar" class="sidebar collapsed">
  <!-- Nav tabs -->
  <div class="sidebar-tabs">
    <ul role="tablist">
      <li><a href="#home" role="tab"><i class="fa fa-bars"></i></a></li>
      <li><a href="#profile" role="tab"><i class="fa fa-user"></i></a></li>
      <li class="disabled"><a href="#messages" role="tab"><i class="fa fa-envelope"></i></a></li>
      <li><a href="https://github.com/Turbo87/sidebar-v2" role="tab" target="_blank"><i class="fa fa-github"></i></a>
      </li>
    </ul>

    <ul role="tablist">
      <li><a href="#settings" role="tab"><i class="fa fa-gear"></i></a></li>
    </ul>
  </div>

  <!-- Tab panes -->
  <div class="sidebar-content">
    <div class="sidebar-pane" id="home">
      <h1 class="sidebar-header">
        Daftar Layer
        <span class="sidebar-close"><i class="fa fa-caret-right"></i></span>
      </h1>
      <!-- THE layer switcher https://viglino.github.io/ol-ext/examples/control/map.switcher.html -->
      <div #switcher id="layers" class="layer-switcher">
          <div></div>
      </div>

    <div class="sidebar-pane" id="profile">
      <h1 class="sidebar-header">Profile<span class="sidebar-close"><i class="fa fa-caret-left"></i></span></h1>
    </div>

    <div class="sidebar-pane" id="messages">
      <h1 class="sidebar-header">Messages<span class="sidebar-close"><i class="fa fa-caret-left"></i></span></h1>
    </div>

    <div class="sidebar-pane" id="settings">
      <h1 class="sidebar-header">Settings<span class="sidebar-close"><i class="fa fa-caret-left"></i></span></h1>
    </div>
  </div>
</div>
