
.map {
  width: 100%;
  height: calc(100vh - 50px);
};

.marker img{
  width: 50px;
  top: -48px;
  left: -9px;
  position: absolute;
  z-index: 10;
}

.pulse {
  display: block;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  /* border: 2px solid #029edf;
  background: #029edf; */
  cursor: pointer;
  box-shadow: 0 0 0 rgba(244,115,120, 0.4);
  animation: pulse 1s infinite;
  margin: 0px;
  position: absolute;
  left: -4px;
  top: -4px;
  // opacity: 0.5;
  // background: none;
}
.pulse:hover {
animation: none;
}

@-webkit-keyframes pulse {
0% {
  -webkit-box-shadow: 0 0 0 0 rgba(244,115,120, 0.4);
}
70% {
    -webkit-box-shadow: 0 0 0 10px rgba(244,115,120, 0);
}
100% {
    -webkit-box-shadow: 0 0 0 0 rgba(244,115,120, 0);
}
}
@keyframes pulse {
0% {
  -moz-box-shadow: 0 0 0 0 rgba(244,115,120, 0.4);
  box-shadow: 0 0 0 0 rgba(244,115,120, 0.4);
}
70% {
    -moz-box-shadow: 0 0 0 30px rgba(244,115,120, 0);
    box-shadow: 0 0 0 30px rgba(244,115,120, 0);
}
100% {
    -moz-box-shadow: 0 0 0 0 rgba(244,115,120, 0);
    box-shadow: 0 0 0 0 rgba(244,115,120, 0);
}
}



.sidebar {
  top:55px;
  scrollbar-width: none;
}


#sidebar ::-webkit-scrollbar { /* WebKit */
  width: 0;
  height: 0;
}

.ol-search ul {
  color: #333;
  font-size:0.85em;
  max-width: 21em;
}
.ol-search ul i {
  display: block;
  color: #333;
  font-size:0.85em;
}
.info {
  display: inline-block;
  width: 100%;
}
.info a img {
  height: 100px;
  margin-right: .5em;
  float: left;
}



.layer-switcher {
  position: relative;
}


.ol-popup {
  position: absolute;
  background-color: white;
  -webkit-filter: drop-shadow(0 1px 4px rgba(0,0,0,0.2));
  filter: drop-shadow(0 1px 4px rgba(0,0,0,0.2));
  padding: 15px;
  border-radius: 10px;
  border: 1px solid #cccccc;
  bottom: 12px;
  left: -50px;
  min-width: 280px;
}
.ol-popup:after, .ol-popup:before {
  top: 100%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
}
.ol-popup:after {
  border-top-color: white;
  border-width: 10px;
  left: 48px;
  margin-left: -10px;
}
.ol-popup:before {
  border-top-color: #cccccc;
  border-width: 11px;
  left: 48px;
  margin-left: -11px;
}
.ol-popup-closer {
  text-decoration: none;
  position: absolute;
  top: 2px;
  right: 8px;
}
.ol-popup-closer:after {
  content: "✖";
}

