a {
  text-decoration: none;
  color: white;
}

a:hover,
a:active {
  color: lightgray;
}

.navigation-items {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.example-spacer {
  flex: 1 1 auto;
}

.logged-icon {
  color: lightgreen;
}

.unlogged-icon {
  color: white;
}



@media(max-width: 959px) {
  mat-toolbar {
    border-radius: 0px;
  }
}
