mat-dialog-title {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}

table {
    width: 100%;
  }

table thead {
    display:none !important;
  }

  
.dialogTitle {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
