<div mat-dialog-title color="primary" cdkDrag cdkDragRootElement=".cdk-overlay-pane" cdkDragHandle>
  Kode: {{modalRDTR.kode}}
</div>
<mat-dialog-content>
  <p> Zona RDTR: {{modalRDTR.zona}}</p>
  <p> Sub-Zona RDTR: {{modalRDTR.sub_zona}}</p>
  <p> Pola Ruang: {{modalRDTR.pola_ruang}}</p>
  <p> Tipe Bidang Tanah: {{modalBidang.TIPE}}</p>
  <p> Luas Bidang Tanah: {{modalBidang.luas}} (m)</p>
 </mat-dialog-content>
<mat-dialog-actions fxLayoutAlign="end">
  <button *ngIf="isLoggedIn" mat-raised-button (click)="closeA()" color="primary">Periksa</button>
  <button mat-raised-button (click)="closeB()" >Tutup</button>
</mat-dialog-actions>
