mat-dialog-title {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}

table {
    width: 100%;
  }

table thead {
    display:none !important;
  }

  
.dialogTitle {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.flex-grid {
  display: flex;
}
.col {
  flex: 1;
}

@media (max-width: 400px) {
  .flex-grid {
    display: block;
  }
}